<div class="container-fluid main-container">
  <div class="row main-row">
    <div class="col justify-content-center">
      <div class="row main-row justify-content-center">
        <div class="main-box">
          <form action="" class="main-box">
            <label for="">Select plate number range</label>
            <input type="checkbox" name="1" id="">
            <input type="submit" value="Generate" class="main-input">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
